body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #1eff00;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #24b300;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main section {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

main section h2 {
    color: #15ff00;
    margin-top: 0;
}

main video {
    display: block;
    margin: 10px auto;
}

main a {
    color: #3cff00;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2ab300;
    color: white;
    margin-top: 20px;
}
.hero-image {
    width: 100%;  
    height: auto;
    object-fit: contain;
    max-height: 400px;
}
.articulo3-imagen{
    width: 100%;  
    height: auto;
    object-fit: contain;
    max-height: 400px;
}
.articulo2-imagen{
    width: 100%;  
    height: auto;
    object-fit: contain;
    max-height: 400px;
}
.articulo1-imagen{
    width: 100%;  
    height: auto;
    object-fit: contain;
    max-height: 400px;
}